::-webkit-scrollbar-thumb {
    background: #128c7e;
}
::-webkit-scrollbar-track {
    background: #f9f9f9;
}
::-webkit-scrollbar {
    width: 5px;
}
*,
body,
html {
    box-sizing: border-box;
}
body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    background: #fff;
    font-family: "Open Sans", sans-serif;
}
.container {
    max-width: 720px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #128c7e;
}
a:hover {
    color: #25d366;
}
.site-title a,
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
}
.header {
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.21);
}
.site-branding-text {
    background: #128c7e;
    padding: 0;
    color: #fff;
    text-align: center;
}
p.site-title {
    margin: 0;
    padding-bottom: 5px;
}
table {
    border: 1px solid #128c7e;
    border-collapse: collapse;
    padding: 5px;
}
table th {
    border: 1px solid #128c7e;
    padding: 5px;
}
table td {
    border: 1px solid #128c7e;
    text-align: center;
    padding: 5px;
}
.list {
    border: 2px solid #128c7e;
    width: 70%;
}
.site-title a {
    color: #fff;
    padding-top: 10px;
    font-size: 50px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
        0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}
nav a {
    color: #128c7e;
}
nav {
    background: #fff;
}
nav a {
    display: inline-block;
    padding: 13px 15px;
}
nav a:hover {
    background: #f1f1f1;
    color: #333;
}
.footer {
    background: #000;
    padding: 10px 0;
    color: #777;
}
h1.entry-title {
    font-size: 32px;
    font-weight: 900;
    color: #fff;
}
.footer h2 {
    color: #fff;
    font-weight: 700;
    font-size: 23px;
}
.footer h3 {
    color: #fff;
    font-size: 20px;
}
.gp a {
    text-decoration: none;
    color: #fff;
}
.gp a:hover {
    color: #fff;
}
.button2 {
    background-color: #128c7e;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2:hover {
    background-color: #25d366;
}
.pmt {
    text-align: center;
}
button {
    background-color: #128c7e;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover {
    background-color: #25d366;
}
p.site-description {
    color: #fff;
    font-size: 25px;
    text-align: center;
}
@media only screen and (max-width: 600px) {
    .site-title a {
        font-size: 28px;
        text-shadow: none;
    }
    p.site-description {
        color: #fff;
        font-size: 17px;
    }
}
nav a {
    font-size: 11px;
}
.container {
    padding: 5px;
}
h1.entry-title {
    font-size: 27px;
    font-weight: 900;
    color: #fff;
}
footer p {
    font-size: 16px;
    font-weight: 400;
}
